<plugin>
    <name>Spreadsheet Generator</name>
    <version>3.2.0</version>
    <description lang="en"><![CDATA[
    The Spreadsheet Generator plugin allows exporting attribute data of the city objects stored in the
    3D City Database in tabular form as comma-separated values (CSV) or Microsoft Excel (XLSX) file.
    <ul>
      <li>Provides a graphical user interface for the Importer/Exporter</li>
      <li>Can also be used on the command-line</li>
      <li>The <a href="https://github.com/3dcitydb/3dcitydb-web-map">3DCityDB Web Map Client</a>
          can be easily linked to spreadsheets created with this plugin</li>
    </ul>
    <a href="https://3dcitydb-docs.readthedocs.io/en/release-v4.3.0/plugins/spreadsheet">Documentation</a>
    ]]>
    </description>
    <url>https://github.com/3dcitydb/plugin-spreadsheet-generator</url>
    <vendor url="https://www.3dcitydb.org">3DCityDB Project</vendor>
    <ade-support>false</ade-support>
</plugin>